

  <script>
  function equalizeColumnHeight() {
    var maxHeight = 0;
    $(".column").each(function(ind, elem)
        {
            if ($(elem).height() > maxHeight)
                maxHeight = $(elem).height();
        }
    );

    $(".column").height(maxHeight);
  };

  $(function() {

    $( "#candidate-list li" ).draggable({

      appendTo: "body",
      helper: "clone",
    });


    $( "#ballot ol" ).droppable({

      activeClass: "ui-state-default",

      hoverClass: "ui-state-hover",

      accept: ":not(.ui-sortable-helper)",

      drop: function( event, ui ) {

        $( this ).find( ".placeholder" ).remove();
        var candidateId = $(ui.draggable[0]).attr("candidateId");

        // don't do anything if already added
        if ($(".ballot-entry[candidateId="+candidateId+"]")[0] != undefined)
            return;

        // delete source item
        deleteCandidate($(ui.draggable[0]));
       
        // add destination item 
        $ballotEntry = $( "<li class='ballot-entry'></li>" ).attr('candidateId', candidateId).text( ui.draggable.text() );
        $removeButton = $("<span class='remove-button'>[X]</span>").click(function() { 
            removeSelection(candidateId, ui.draggable.text());
        });
       
        $removeButton.appendTo($ballotEntry);
        $ballotEntry.appendTo( this );

        equalizeColumnHeight();

      }

    }).sortable({

      items: "li:not(.placeholder)",

      sort: function() {

        // gets added unintentionally by droppable interacting with sortable

        // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options

        $( this ).removeClass( "ui-state-default" );

      }

    });

  });

  function removeSelection(id, name)
  {
    var entry = $($(".ballot-entry[candidateId="+id+"]")[0]);

    // add back the candidate
    $("<li class='candidate-draggable'></li>").attr("candidateId", id)
        .html( name )
        .draggable({ appendTo: "body", helper: "clone" })
        .appendTo($("#candidate-list-ul"));

    entry.remove();
    
  }

  function deleteCandidate($item)
  {
    $(".candidate-draggable[candidateID="+$item.attr("candidateId")+"]").remove();

  }

  function reviewBallot()
  {
    $ids = [];
    $(".ballot-entry").each( function(ind, val) {
        $ids.push( $(val).attr('candidateId') );
    } );
    $("#ballotEntries").val( $ids.toString());
    $("#ballotForm").submit();
  }

  $(document).ready(function() {
    equalizeColumnHeight();
  });

  </script>


<body>

<div id="content-wrapper">
<%= form_for :ballot, url: ballot_index_path, :id => "ballotForm" do |f| %>
<div id="candidate-list" class="column">

  <h1>1. Candidates</h1>
  <div classs="description">Drag candidates onto your ballot</div>

  <div class="list-content">

    <ul id="candidate-list-ul">
      <% @election.candidates.each do |c| %>

      <li class="candidate-draggable" candidateId="<%= c.id %>"><%= c.name %></li>

      <% end %>

    </ul>

  </div>

</div>

 

<div id="ballot" class="column">

  <h1>2. Your Ranked Ballot</h1>
  <div classs="description">Order the candidates by preference</div>

  <div class="list-content">

    <ol id="ballot-list">

      <li class="placeholder">Add your items here</li>

    </ol>

  </div>

</div>





<div id="voter-info" class="column">

<h1>3. Your Info</h1>
<div><%= f.label :voterName, "Name: " %><%= f.text_field :voterName %></div>
<div><%= f.label :voterPass, "Password (optional): " %><%= f.password_field :voterPass %></div>

<%= f.hidden_field :ballotEntries, :id => "ballotEntries" %>
<%= f.hidden_field :electionId, :value => params[:id] %>
<div><%= submit_tag "Submit", :onclick =>"return reviewBallot();", :class => "submit-button" %>

</div>


<% end %>
</div>
</body>


