<%= render partial: "shared/header" %>
<%= render partial: "shared/flash_messages", flash: flash %>

<div id="header">
<div><h1><%= @election.title %></h1></div>
<div class="description"><%= @election.description %></div>
<div class="commissioner">Commissioner: <%= @election.user.name %> (<%= mail_to @election.user.email %>), </div>
</div> 


